<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jc.sugar.JiaHui.dao.SugarJMXDao">

    <resultMap id="SugarJMX" type="jc.sugar.JiaHui.entity.SugarJMX">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="project_id" property="projectId"/>
        <result column="jmx_path" property="jmxPath"/>
        <result column="remark" property="remark"/>
        <result column="creator_id" property="creatorId"/>
        <result column="updater_id" property="updaterId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="project" javaType="jc.sugar.JiaHui.entity.SugarProject">
            <result column="project_id" property="id"/>
            <result column="project_name" property="name"/>
        </association>
        <association property="creator" javaType="jc.sugar.JiaHui.entity.SugarAccount">
            <result column="creator_id" property="id"/>
            <result column="creator_name" property="username"/>
        </association>
        <association property="updater" javaType="jc.sugar.JiaHui.entity.SugarAccount">
            <result column="updater_id" property="id"/>
            <result column="updater_name" property="username"/>
        </association>
    </resultMap>

    <!-- 全列名 -->
    <sql id="allColumns">id, name, project_id, jmx_path, remark, creator_id, updater_id, create_time, update_time</sql>


    <!-- 测试计划保存 -->
    <insert id="saveJmx" parameterType="jc.sugar.JiaHui.entity.SugarJMX" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO sugar_jmx (name, project_id, jmx_path, remark, creator_id) VALUES (#{name}, #{projectId}, #{jmxPath}, #{remark}, #{creatorId})
    </insert>


    <!-- 测试计划更新 -->
    <update id="updateJmx" parameterType="jc.sugar.JiaHui.entity.SugarJMX">
        UPDATE sugar_jmx SET name = #{name}, remark = #{remark}, updater_id = #{updaterId} WHERE id = #{id}
    </update>


    <!-- 按id查询测试计划 -->
    <select id="fetchJmxById" parameterType="java.lang.Integer" resultMap="SugarJMX">
        SELECT jpc.*, su.username updater_name
        FROM (
            SELECT
                jmx.id id,
                jmx.name name,
                jmx.project_id project_id,
                jmx.jmx_path jmx_path,
                jmx.remark remark,
                jmx.creator_id creator_id,
                jmx.updater_id updater_id,
                jmx.create_time create_time,
                jmx.update_time update_time,
                pr.name project_name,
                sa.username creator_name
            FROM sugar_jmx jmx, sugar_account sa, sugar_project pr WHERE jmx.project_id = pr.id AND jmx.creator_id = sa.id AND jmx.id = #{id}
        ) jpc
        LEFT JOIN sugar_account su ON jpc.updater_id = su.id
    </select>

    <!-- 测试计划查询 -->
    <select id="queryJmx" parameterType="jc.sugar.JiaHui.entity.query.JMXQuery" resultMap="SugarJMX">
        SELECT
            jpc.*, su.username updater_name
        FROM (
             SELECT
                    jmx.id id,
                    jmx.name name,
                    jmx.project_id project_id,
                    jmx.jmx_path jmx_path,
                    jmx.remark remark,
                    jmx.creator_id creator_id,
                    jmx.updater_id updater_id,
                    jmx.create_time create_time,
                    jmx.update_time update_time,
                    pr.name project_name,
                    sa.username creator_name
            FROM sugar_jmx jmx, sugar_account sa, sugar_project pr
            <where>
                jmx.project_id = pr.id AND jmx.creator_id = sa.id
                <if test="name != null and name != ''">
                    AND jmx.name LIKE CONCAT('%', #{name}, '%')
                </if>
                <if test="projectName != null and projectName != ''">
                    AND pr.name LIKE CONCAT('%', #{projectName}, '%')
                </if>
                <if test="creatorName != null and creatorName != ''">
                    AND sa.username = #{creatorName}
                </if>
            </where>
        ) jpc
        LEFT JOIN sugar_account su ON jpc.updater_id = su.id
        <where>
            <if test="updaterName != null and updaterName != ''">
                su.username LIKE CONCAT('%', #{updaterName}, '%')
            </if>
        </where>
    </select>


    <!-- 删除测试计划 -->
    <delete id="deleteJmxById" parameterType="java.lang.Integer">
        DELETE FROM sugar_jmx WHERE id = #{id}
    </delete>

</mapper>